.datailBannerCon {
  width: 100%;
  position: relative;
}
.detailBanner {
  line-height: 0;
}
.detailBanner img {
  width: 100%;
}
.detailNowPage {
  width: 100%;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}
.detailNowPage span {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.2rem;
  display: inline-block;
  background-color: #bbbbbb;
  border-radius: 50%;
}
.detailNowPage .active {
  background-color: #323232;
}
.commodityInformationCon {
  padding: 0.5rem;
  position: relative;
}
.commodityInformationCon h1 {
  font-size: 0.8rem;
  color: #000000;
  padding-right: 5rem;
}
.commodityInformationCon p {
  font-size: 0.7rem;
  color: #646464;
  padding-right: 5rem;
}
.commodityInformationCon span {
  position: absolute;
  right: 1rem;
  top: 0.2rem;
  font-size: 0.6rem;
  font-weight: bold;
}
.commodityInformationCon span strong {
  font-size: 1rem;
}
.detailSizeCon {
  padding: 1rem 0.5rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.detailSizeCon h2 {
  font-size: 1rem;
}
.detailSizeCon h2 span {
  float: right;
  font-size: 0.8rem;
  color: #b6a064;
}
.detailSizeCon h2 a {
  color: #b6a064;
}
.detailSizeCon .sizeListCon {
  list-style: none;
  margin-top: 0.5rem;
}
.detailSizeCon .sizeListCon li {
  width: 3.5rem;
  height: 2rem;
  float: left;
  margin-right: 0.5rem;
  text-align: center;
  line-height: 2rem;
  font-size: 0.8rem;
  border: 1px solid #bbbbbb;
  border-radius: 0.4rem;
}
.detailSizeCon .sizeListCon input {
  display: none;
}
.detailSizeCon .sizeListCon label {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.4rem;
}
.detailSizeCon .sizeListCon input:checked + label {
  background-color: #000;
  color: #fff;
}
.detailChageCon {
  padding: 0 0.5rem;
  margin-top: 1rem;
}
.detailChageCon .detailChangeView {
  list-style: none;
  width: 100%;
  height: 2rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
  overflow: hidden;
}
.detailChageCon .detailChangeView li {
  width: 50%;
  height: 100%;
  float: left;
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
}
.detailChageCon .detailChangeView .active {
  background-color: #323232;
  color: #fff;
}
.detailChageCon .detailView {
  width: 100%;
  margin-top: 1rem;
  overflow: hidden;
  font-size: 0.8rem;
}
.detailChageCon .detailView table {
  width: 100%;
  border: 1px solid #bbbbbb;
  border-collapse: collapse;
}
.detailChageCon .detailView table tr {
  border-bottom: 1px solid #bbbbbb;
}
.detailChageCon .detailView table td {
  padding: 0.5rem;
}
.detailChageCon .detailView table tr > td:first-child {
  width: 5rem;
  color: #a0a0a0;
}
.SHserveCon {
  padding: 0 1rem;
}
.SHserveCon h4 {
  font-size: 1rem;
}
.SHserveCon p {
  font-size: 0.8rem;
}
.detailImgCon {
  width: 100%;
  margin-top: 1rem;
}
.detailImgCon img {
  width: 100%;
  vertical-align: bottom;
}
.addShoopingCar {
  width: 100%;
  height: 100%;
  padding-right: 10rem;
  float: left;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  background-color: #b6a064;
  position: relative;
}
.ShoopingCar {
  width: 10rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  background-color: #000;
  background-image: url(../images/icon/detail_09.png);
  background-position: 2rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem 1.3rem;
}
.ShoopingCar strong {
  position: absolute;
  left: 50%;
  margin-left: 1.5rem;
  top: 0.5rem;
  padding: 0.1rem 0.4rem;
  line-height: normal;
  background-color: red;
  color: #fff;
  font-weight: normal;
  border-radius: 0.5rem;
  z-index: 3;
}
.detailShareConntainer {
  width: 100%;
  height: 100%;
  bottom: 3rem;
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 15;
  transform: translate3D(0, 100%, 0);
  -webkit-transform: translate3D(0, 100%, 0);
  transition: all 1s;
  -webkit-transition: all 1s;
}
.detailShareConntainer .closeThisCon {
  width: 100%;
  height: 100%;
}
.detailShareCon {
  width: 100%;
  height: 15rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  background-color: #fff;
}
.detailShareUl {
  width: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
  list-style: none;
}
.detailShareUl li {
  width: 25%;
  float: left;
  padding: 0.5rem;
}
.detailShareUl li img {
  width: 100%;
  border-radius: 25%;
}
.detailShareUl li p {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}
.detailShareUl li a {
  color: #000;
}
.cancleShare {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 2.5rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.home_showListUl {
  width: 100%;
  list-style: none;
}
.home_showListUl img {
  width: 100%;
}
.home_showListUl .thisInformation {
  width: 100%;
  height: 3rem;
  padding: 0 2rem;
  position: relative;
  background-color: #646464;
}
.home_showListUl .thisInformationCon {
  width: 100%;
  height: 4.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 1rem;
}
.home_showListUl .thisInformationCon > div {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0.5rem;
  color: #000000;
  background-color: #fff;
}
.home_showListUl .thisInformationCon h4 {
  font-size: 0.8rem;
  font-weight: normal;
}
.home_showListUl .thisInformationCon h5 {
  margin-top: 0.2rem;
  font-size: 0.5rem;
  font-weight: normal;
}
.home_showListUl .thisInformationCon p {
  margin-top: 0.2rem;
  font-size: 0.5rem;
}
.home_showListUl .thisInformationCon p strong {
  font-size: 0.8rem;
}
.home_showListUl .thisInformationCon span {
  padding: 0 1rem;
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: #fff;
  font-size: 0.5rem;
  background-color: #000;
}
.home_showListUl .thisInformationCon span strong {
  padding: 0 0.2rem;
  font-size: 1rem;
  font-size: italic;
}
.homeMenuCon {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 3rem;
  padding-bottom: 3rem;
  z-index: 11;
  transform: translate3D(-100%, 0, 0);
  -webkit-transform: translate3D(-100%, 0, 0);
  transition: all 1s;
  -webkit-transition: all 1s;
}
.homeMenuNav {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}
.homeMenuNav .myAccount {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.8rem 0 0.8rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.homeMenuPadding {
  width: 30%;
  height: 100%;
  float: left;
}
.homeMenuUl {
  list-style: none;
}
.homeMenuUl li a {
  width: 100%;
  display: block;
  padding: 0.8rem 0 0.8rem 2rem;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/*address*/
.addressUl {
  width: 100%;
  list-style: none;
}
.addressUl li {
  padding: 1rem;
  border-bottom: 1px solid #8c8c8c;
}
.addressUl li:last-child {
  border-bottom: none;
}
.addressUl h3 {
  font-size: 1.2rem;
  font-weight: normal;
}
.addressUl h4 {
  font-size: 1rem;
  font-weight: normal;
}
.addressUl h5 {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
}
.addressUl p {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}
.addressUl .DoSomething {
  margin-top: 1rem;
}
.addressUl .DoSomething a {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  margin-right: 0.3rem;
  font-size: 0.8rem;
  border: 1px solid #323232;
  border-radius: 0.3rem;
  color: #323232;
}
.addressUl .DoSomething a:last-child {
  color: #fff;
  background-color: #b6a064;
  border-color: #b6a064;
}
.addAddressCon {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  background-color: #646464;
}
.addAddressCon a {
  width: 60%;
  height: 2.5rem;
  display: block;
  margin: 3rem auto;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.3rem;
}
/*cart*/
.cartUl {
  width: 100%;
  list-style: none;
}
.cartUl li {
  padding: 0.3rem;
  border-bottom: 1px solid #bbbbbb;
}
.cartUl li > img {
  width: 6rem;
  height: 7.6rem;
  float: left;
}
.cartUl li:last-child {
  border-bottom: none;
}
.cartUl .DoSomething {
  margin-top: 1rem;
  height: 1.5rem;
}
.cartUl .deleteThisObj {
  padding: 0.4rem 1rem;
  margin-top: 0.2rem;
  float: right;
  color: #fff;
  font-size: 0.8rem;
  background-color: #b6a064;
  border-radius: 0.3rem;
}
.cartWord {
  width: 100%;
  padding-left: 7rem;
}
.cartWord h4 {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.cartWord h5 {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #646464;
  font-weight: normal;
}
.cartWord h5 strong {
  padding-left: 0.5rem;
  font-weight: normal;
}
.cartWord h6 {
  font-size: 0.8rem;
}
.cartWord h6 strong {
  font-size: 1rem;
  font-weight: normal;
}
.doNumberCon {
  float: left;
}
.doNumberCon span {
  width: 2.2rem;
  height: 1.8rem;
  display: block;
  float: left;
  background-color: #bbbbbb;
  background-size: 1.8rem 1.8rem;
  background-position: center;
}
.doNumberCon input {
  width: 2rem;
  height: 1.8rem;
  float: left;
  text-align: center;
  border: 1px solid #bbbbbb;
  background-color: transparent;
}
.doNumberCon .reduce {
  background-image: url(../images/icon/cart_06.png);
}
.doNumberCon .add {
  background-image: url(../images/icon/cart_08.png);
}
.cart_AllpriceCon {
  width: 100%;
  padding: 1rem;
}
.cart_AllpriceCon > div {
  float: right;
  text-align: right;
  border-top: 1px solid #000;
}
.cart_AllpriceCon h4 {
  font-size: 0.9rem;
}
.cart_AllpriceCon p {
  font-size: 0.8rem;
}
.payState {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 13;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.payState a {
  width: 10rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  line-height: 3rem;
  margin-left: -5rem;
  margin-top: -1.5rem;
  border-radius: 0.3rem;
}
.payState .paySuccess {
  color: #b6a064;
  background-color: #fff;
}
.payState .payFail {
  background-color: #000;
  color: #fff;
}
.sizeTableCon {
  padding: 0.5em;
}
.sizeTable {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-collapse: collapse;
}
.sizeTable thead span {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  color: #fff;
  line-height: 2rem;
  background-color: #000;
}
.sizeTable thead .spanM {
  background-color: #646464;
}
.sizeTable thead .spanL {
  background-color: #bbbbbb;
}
.sizeTable td {
  padding: 0.5rem 0;
  border-bottom: 1px solid #bbbbbb;
}
.sizeTable tbody tr td:first-child {
  font-weight: bold;
}
.sizeUnit {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
}
.sizeUnit strong {
  font-size: 0.5rem;
  font-weight: normal;
}
.myOrder {
  width: 100%;
  list-style: none;
}
.myOrder li {
  padding: 0.3rem;
  border-bottom: 1px solid #bbbbbb;
  background-image: url(../images/icon/myOrder_03.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 1rem auto;
}
.myOrder li img {
  width: 6rem;
  height: 7.6rem;
  float: left;
}
.myOrder li:last-child {
  border-bottom: none;
}
.myOrder h4 {
  font-size: 0.9rem;
  padding-left: 7rem;
  margin-top: 0.5rem;
}
.myOrder h4 strong {
  font-weight: normal;
}
.myOrder a {
  color: #333;
}
.myOrder .marginTop {
  margin-top: 1rem;
}
/*submitOrder*/
.submitOrderConList {
  width: 100%;
  position: relative;
  padding: 1rem 5rem 1rem 1rem;
}
.submitOrderConList .namePhone {
  width: 100%;
  height: 1.5rem;
  position: relative;
  font-size: 0.9rem;
}
.submitOrderConList .namePhone strong {
  float: right;
  font-weight: normal;
}
.submitOrderConList p {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}
.submitOrderConList .marginTop {
  margin-top: 0.5rem;
}
.submitOrderConList a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #b6a064;
  font-size: 0.8rem;
}
.submitOrderUl {
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 5px solid #d1d1d1;
  list-style: none;
}
.submitOrderUl li {
  border-bottom: 1px solid #bbbbbb;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 0.8rem;
}
.submitOrderUl li span {
  float: right;
}
.submitOrderUl li:last-child {
  border-bottom: none;
}
.submitOrderUl label {
  display: inline-block;
  width: 100%;
}
.submitOrderUl input {
  display: none;
}
.submitOrderUl .nowChange {
  width: 1rem;
  height: 1rem;
  float: right;
  border-radius: 50%;
  border: 1px solid #646464;
}
.submitOrderUl input:checked + label .nowChange {
  border-color: #000;
  background-image: url(../images/icon/submitOrder_03.png);
  background-size: 100%;
  background-position: center;
}
.submitOrderSubmit {
  width: 70%;
  height: 2rem;
  display: block;
  margin: 0.2rem auto;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  background-color: #b6a064;
  color: #fff;
  border-radius: 0.3rem;
}
.ortherAddressSub {
  width: 100%;
}
.ortherAddressSub li {
  padding: 1rem 0.5rem;
  height: 8rem;
  border-bottom: 1px solid #c9c9c9;
}
.ortherAddressSub li:last-child {
  border-bottom: none;
}
.ortherAddressSub label {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.ortherAddressSub input {
  display: none;
}
.ortherAddressSub input:checked + label .checkedThis > span {
  background-color: #696060;
}
.ortherAddressSub .checkedThis {
  width: 3rem;
  height: 100%;
  text-align: center;
  line-height: 6rem;
}
.ortherAddressSub .checkedThis > span {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
}
.ortherAddressSub .InformationWordCon {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}
.ortherAddressSub .namePhone {
  width: 100%;
  font-size: 0.9rem;
}
.ortherAddressSub .namePhone > span {
  float: right;
}
.ortherAddressSub .InforAddress {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.ortherAddressSub .Infortime {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.ortherAddressSub .complie {
  position: absolute;
  right: 0.5rem;
  bottom: 2rem;
  color: #b6a064;
  font-size: 0.9rem;
}
.addNewAddress {
  text-align: center;
  padding: 1rem;
}
.addNewAddress a {
  padding: 0.1rem 1rem;
  line-height: 2rem;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  color: #000;
}
.AddressShow {
  width: 100%;
  height: 8rem;
  overflow: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.orderDetailList {
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 10px solid #646464;
}
.orderDetailList ul {
  list-style: none;
}
.orderDetailList li {
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 0.3rem;
}
.orderDetailList li span {
  font-weight: normal;
}
.orderDetailTitle {
  font-size: 0.8rem;
  color: #b6a064;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #bbbbbb;
}
.thisborder {
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 10px solid #646464;
}
.orderDetailcommodity {
  width: 100%;
  padding: 0.5rem;
  border-top: 10px solid #646464;
}
.orderDetailcommodity ul {
  list-style: none;
}
.orderDetailcommodity li {
  overflow: hidden;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #bbbbbb;
}
.orderDetailcommodity li:last-child {
  border-bottom: none;
}
.orderDetailcommodity img {
  width: 6rem;
  height: 7.6rem;
  float: left;
}
.orderDetailcommodity h4 {
  margin-top: 0.8rem;
  padding-left: 6.5rem;
  font-size: 0.7rem;
}
.orderDetailcommodity p {
  font-size: 0.7rem;
  padding-left: 6.5rem;
  font-weight: bold;
}
.orderDetailcommodity .marginTop {
  margin-top: 1rem;
}
.orderDetailAddress {
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 10px solid #646464;
}
.orderDetailAddress ul {
  list-style: none;
}
.orderDetailAddress li {
  padding: 0.3rem 0;
  font-weight: bold;
  font-size: 0.8rem;
}
.orderDetailAddress li span {
  float: left;
}
.orderDetailAddress li p {
  padding-left: 4rem;
}
.orderDetailAddress strong {
  font-weight: normal;
}
.orderDetailPrice {
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 10px solid #646464;
}
.orderDetailPrice ul {
  list-style: none;
}
.orderDetailPrice li {
  padding: 0.3rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.orderDetailPrice li span {
  float: right;
}
.orderDetailPayCon {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  text-align: right;
}
.orderDetailPayCon a {
  width: 6rem;
  padding: 0.5rem 0;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  display: inline-block;
  text-align: center;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #b6a064;
}
.orderDetailPayCon a:first-child {
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
}
.loginLogoCon {
  width: 100%;
  height: 10rem;
  position: relative;
  background-color: #646464;
}
.loginLogoCon .loginLogo {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 50%;
  margin-left: -3.5rem;
  bottom: -3.5rem;
  background-image: url(../images/icon/login_03.png);
  background-size: 100%;
}
.loginLogoCon .close {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-image: url(../images/icon/loginClose_03.png);
  background-size: 100% 100%;
}
.loginForm {
  margin-top: 5rem;
}
.loginFormUl {
  padding: 0 1rem;
  list-style: none;
}
.loginFormUl li {
  margin-top: 1rem;
}
.loginFormUl li:last-child {
  margin-top: 2rem;
}
.loginFormUl input[type=text],
.loginFormUl input[type=password] {
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid #bbbbbb;
}
.loginFormUl input[type=submit] {
  width: 100%;
  height: 2rem;
  color: #fff;
  border: none;
  background-color: #b6a064;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}
.loginFormUl p {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: red;
}
.loginLink {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}
.loginLink a {
  padding: 0.1rem 1rem;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 0.3rem;
  color: #000;
}
.registerForm {
  margin-top: 3rem;
}
.registerFormUl {
  padding: 0 1rem;
  list-style: none;
}
.registerFormUl li {
  margin-top: 1rem;
}
.registerFormUl li:last-child {
  margin-top: 2rem;
}
.registerFormUl input[type=text],
.registerFormUl input[type=password] {
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid #bbbbbb;
}
.registerFormUl input[type=submit] {
  width: 100%;
  height: 2rem;
  color: #fff;
  border: none;
  background-color: #b6a064;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}
.registerFormUl p {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: red;
}
.registerFormUl input[type=submit] {
  background-color: #646464;
}
.registerLink {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}
.registerLink a {
  padding: 0.1rem 1rem;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 0.3rem;
  color: #000;
}
.registerLink a {
  background-color: #323232;
  color: #fff;
}
.addressEditForm {
  margin-top: 2rem;
}
.addressEditUl {
  width: 100%;
  padding: 0 1rem;
  list-style: none;
}
.addressEditUl li {
  margin-top: 1rem;
}
.addressEditUl li:last-child {
  margin-top: 2rem;
}
.addressEditUl span {
  width: 4rem;
  height: 2rem;
  text-align: right;
  display: block;
  float: left;
  line-height: 2rem;
}
.addressEditUl .inputCon {
  width: 100%;
  height: 2rem;
  padding-left: 4.5rem;
}
.addressEditUl input[type=text],
.addressEditUl input[type=password] {
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid #bbbbbb;
}
.addressEditUl input[type=submit] {
  width: 100%;
  height: 2rem;
  color: #fff;
  border: none;
  background-color: #b6a064;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}
.addressEditUl p {
  padding-left: 4.5rem;
  font-size: 0.8rem;
  color: red;
  margin-top: 0.2rem;
}
.changeProvince {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 15;
  transform: translate3D(100%, 0, 0);
  -webkit-transform: translate3D(100%, 0, 0);
  transition: all 1s;
  -webkit-transition: all 1s;
}
.addressNameHeader {
  width: 100%;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  background-color: #000;
}
.AddressNameList {
  width: 100%;
  height: 100%;
  padding: 3rem 0.5rem 0 0.5rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.AddressNameList li {
  padding: 0.8rem 0;
  border-bottom: 1px solid #bbbbbb;
  font-size: 1rem;
}
.userNumber {
  padding: 0.5rem 0 0.5rem 2rem;
}
.userConDoUl {
  width: 100%;
  list-style: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
.userConDoUl li {
  width: 33.3%;
  float: left;
  text-align: center;
  border-right: 1px solid #bbbbbb;
}
.userConDoUl li:nth-child(3) {
  border-right: none;
}
.userConDoUl a {
  display: block;
  color: #000;
}
.addressManage {
  padding: 0.5rem 0 0.5rem 2rem;
  font-size: 0.9rem;
  background-image: url(../images/icon/myOrder_03.png);
  background-repeat: no-repeat;
  background-position: 85% center;
  background-size: auto 1rem;
}
.addressManage a {
  display: block;
  padding: 0.5rem;
  color: #000;
}
.exitCon {
  margin-top: 5rem;
  text-align: center;
}
.exitCon a {
  display: inline-block;
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  color: #fff;
  background-color: #646464;
  border-radius: 0.3rem;
}
