<div class="deal_drawings">
    <el-row  :gutter="20">
        <el-row>
            <el-col :span="8">
                <el-row >
                    <el-col :span="8">
                        <span class="title">交易时间段</span>
                    </el-col>
                    <el-col :span="16">
                        <el-date-picker v-model="createdTimeRange" format="yyyy-MM-dd HH-mm-ss" type="datetimerange" placeholder="选择日期范围" style="width:210px;"></el-date-picker>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="8">
            </el-col>
        </el-row>
        <!-- 第二行 -->
        <el-row  :gutter="20">
            <el-col :span="8">
                <el-row>
                    <el-col :span="8" >
                        <span class="title">商户名称</span>
                    </el-col>
                    <el-col :span="16">
                        <el-input placeholder="请输入商户名称" v-model="searchObj.commerceName"></el-input>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="8">
                <el-row >
                    <el-col :span="8" >
                        <span class="title">流水号</span>
                    </el-col>
                    <el-col :span="16">
                        <el-input placeholder="请输入流水号" v-model="searchObj.serialNum"></el-input>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <!-- 第三行 -->
        <el-row  :gutter="20">
            <el-col :span="8">
                <el-row >
                    <el-col :span="10" >
                        <span class="title">商户号</span>
                    </el-col>
                    <el-col :span="14">
                        <el-input placeholder="请输入商户号" v-model="searchObj.commerceNum"></el-input>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="9">
                <el-row >
                    <el-col :span="8" >
                        <span class="title">终端号</span>
                    </el-col>
                    <el-col :span="16">
                        <el-input placeholder="请输入终端号" v-model="searchObj.deviceNum"></el-input>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <!-- 第四行 -->
        <el-row  :gutter="20">
            <el-col :span="8">
                <el-row :gutter="8">
                    <el-col :span="8" >
                        <span class="title">分属代理商</span>
                    </el-col>
                    <el-col :span="16">
                        <el-select v-model="searchObj.agent" placeholder="请选择">
                            <el-option v-for="item in agent" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <el-row class='item'>
            <el-col :span="6" :offset="6" class="text-center">
                <el-button-group>
                    <el-button type="primary" icon="search" @click="doSearch">搜索</el-button>
                    <el-button type="primary" icon="delete" @click="cleanSearchInp">清空</el-button>
                </el-button-group>
            </el-col>
        </el-row>
    </el-row>
    <ul class="ctr-bar">
        <li>
            <a href="javascript:;"><i class="el-icon-plus"></i>&nbsp;&nbsp;<span>添加</span></a>
        </li>
        <li>
            <a href="javascript:;"><i class="el-icon-delete"></i>&nbsp;&nbsp;<span>删除</span></a>
        </li>
        <!-- <li>
            <a href="javascript:;"><i class="el-icon-edit"></i>&nbsp;&nbsp;<span @click="refreshData">刷新</span></a>
        </li> -->
    </ul>
    <div class="seach_list">
        <el-table :data="dealData" border style="width: 100%" height="240" :stripe="true">
            <el-table-column align="center" prop="agent" label="代理商" min-width='100'></el-table-column>
            <el-table-column align="center" prop="commerceName" label="商户名称" min-width="150"></el-table-column>
            <el-table-column align="center" prop="commerceCode" label="商户号" min-width="150"></el-table-column>
            <el-table-column align="center" prop="serialNum" label="流水号" min-width="150"></el-table-column>
            <el-table-column align="center" prop="transactionAmount" label="交易金额（元）" min-width="150"></el-table-column>
            <el-table-column align="center" prop="poundage" label="手续费（元）" min-width="150"></el-table-column>
            <el-table-column align="center" prop="transactionTime" label="交易时间" min-width="150"></el-table-column>
            <!-- <el-table-column align="center" inline-template :context="_self" fixed="right" label="操作" width="150">
                <span>
                <el-button @click="viewDetail(row)" type="text" size="small">查看</el-button>
              </span>
            </el-table-column> -->
        </el-table>
        <div class="pagination">
            <div class="block">
                <el-pagination :current-page="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="pageTotal">
                </el-pagination>
            </div>
        </div>
    </div>
</div>
