.content{width:980px;height:550px;border:1px solid #dfdfdf;margin:30px auto;background:#FFF;padding:9px;}
.content img{width:486px;height:550px;}
.meeting{width:486px;height:550px;float:left;}
.train{width:486px;height:550px;float:right;}
.hotline img{margin-right:15px;}
