/*头部style*/
.header_bar{height:46px;}
.header_box{height:42px;border-top:3px solid #ff8500;border-bottom:1px solid #edeef0;}
.header{height:100%;}
.leftNav{font-family:"微软雅黑";font-size:12px;}
.leftNav li{height:100%;float:left;position:relative;}
.leftNav li a{display:inline-block;height:100%;line-height:42px;padding:0 18px;color:#4c4c4c;position:relative;}
.leftNav li a:hover{background:#edeef0;color:#ff8500;}
.pull_down{width:10px;height:4px;overflow:hidden;background:url(../images/pull_down.png) left top no-repeat;position:absolute;}
.leftNav .down_link{padding-right:32px;}
.leftNav .down_link .pull_down{right:14px;top:50%;margin-top:-2px;}
.header_close{width:56px;height:23px;margin-top:9px;background:url(../images/header_close.jpg) no-repeat;}
.header_close:hover{background:url(../images/header_close_g.jpg) no-repeat;}


/*移动客户端下拉出来的样式*/
.mobileBox{position:absolute;width:110px;top:43px;left:0;background:#FFF;display:none;}
.mobile{border:1px solid #fecc5b;border-top:none;border-bottom:none;}
.mobile dd{border-bottom:1px solid #fecc5b;}
.mobile dd a{height:31px;line-height:31px;display:block;padding-left:16px;}
.mobile dd a:hover{background:#fff5da;color:#e67902;}
.sm_change{width:100%;}

/*登录页面样式*/
.sina_login{width:480px;height:296px;border:1px solid #ffc525;position:absolute;top:42px;left:50%;margin-left:-240px;background:#FFF;display:none;}
#login_close{width:8px;height:7px;overflow:hidden;background:url(../images/login_close.jpg) top left no-repeat;position:absolute;top:16px;right:-18px;}
#login_close:hover{background:url(../images/login_close_b.jpg) no-repeat;}
.sina_wx{width:162px;padding:24px 0 0 24px;}
.sina_wx p{font-size:12px;font-family:"宋体";color:#434242;}
.sina_wx img{padding-right:34px;margin-top:30px;border-right:1px solid #ededed}
.login_cont{width:216px;padding:24px;font-size:12px;font-family:"宋体";color:#434242;}
.login_form{margin-top:34px;}
.login_input{width:202px;height:28px;border:1px solid #ededed;position:relative;margin-bottom:12px;}
.login_input span{padding:0 5px;line-height:28px;color:#a9a9a9;display:block;height:28px;}
.login_input input{height:28px;line-height:28px\9;border:0;width:192px;position:absolute;top:0;left:0;padding:0 5px;background:none;}
.login_btn{width:64px;height:30px;line-height:30px;background:#ff8500;color:#FFFFFF;border:none;font-size:14px;margin-right:12px;}
.next_autologin{vertical-align:middle;position:relative;top:0;*top:-6px;}
.next_autologin input{margin-right:6px;}
.next_autologin span{position:relative;top:-2px;}
.login_form .password a{display:inline-block;color:#a87a2c;margin:0 12px 0 0;padding:0;}
.login_form .password a:hover{background:none;text-decoration:underline;color:#a87a2c;}
.login_form .qq a{display:block;width:66px;height:20px;line-height:20px;background:url(../images/qq.jpg) no-repeat;padding-left:20px;}
.login_form .qq a:hover{background:url(../images/qq.jpg) no-repeat;text-decoration:underline;color:#ff8500;}
.login{line-height:42px;color:#ff8500;display:none;}
.login div a{color:#ff8500;padding:0;margin:0;}
.login div a:hover{background:#FFFFFF;text-decoration:underline;}

/*logo及搜索框*/
.logo_search{height:48px;padding-top:16px;}
.logo{width:114px;height:47px;background:url(../images/logo.jpg) 20px 0 no-repeat;padding:0 24px 0 20px;}
.search_box{width:402px;height:35px;margin-top:9px;}
.search_inputs{width:334px;height:33px;border-radius:5px 0 0 5px;border:1px solid #c1c1c1;}
.search_down{width:74px;height:31px;border-right:1px solid #c1c1c1;margin:1px 0;position:relative;}
.search_down h3{font-weight:normal;line-height:31px;text-indent:15px;background:url(../images/pull_down.jpg) 55px 15px no-repeat;color:#666;}
.search_show{position:absolute;left:-1px;top:30px;border:1px solid #d0d0d0;border-top:0;background:#fff;width:100%;display:none;}
.search_show li{height:29px;border-bottom:1px solid #c1c1c1;color:#666;margin-bottom:-1px;cursor:pointer;line-height:29px;text-indent:15px;}
.search_show .over{background:#fff6dd;color:#e87400;height:29px;}
.search_input{width:230px;height:100%;padding:0 14px;}
.search_input input{height:31px;width:100%;font-size:14px;line-height:33px\9;border:0;color:#666;font-family:"宋体";}
.search_btn{width:66px;height:36px;background:url(../images/search.jpg) no-repeat;border:0;}
.weather{width:110px;height:34px;padding-left:20px;padding-top:10px;}
.search_adv1{width:104px;height:50px;}
.search_adv2{width:133px;height:50px;margin-left:5px;}

/*导航style*/
.nav{padding:18px 0 20px 0;height:78px;font-size:12px;}
.nav_item{width:125px;padding-left:17px;border-right:1px solid #f2efe8}
.nav_item dl{height:26px;}
.nav_item dl dt,.nav_item dl dd{float:left;width:41px;}
.nav_item dl a{color:#000}
.nav_item dl a:hover{text-decoration:underline;color:#ee7d03;}
.nav_item dl dt{font-weight:bold;}
.last{border:none;}
.last a{font-weight:normal;}

/*广告部分style*/
.adBox{background:#f7f8fa;margin-bottom:20px;}
.adText li{width:125px;text-align:center;float:left;line-height:34px;}
.adText li a{font-size:12px;color:#656565;font-family:"宋体";}
.adText li a:hover{color:#ee7d03;text-decoration:underline;}

/*主体部分style*/
.leftArea{width:620px;}
.rightArea{width:360px;}
.leftItem{width:240px;}
.rightItem{width:360px;}
.adv_240_47{width:240px;height:47px;margin-bottom:14px;}
.adv_240_350{width:240px;height:350px;margin-bottom:15px;}
.sina_produce{width:238px;height:216px;border:1px solid #dde0e7;border-top:3px solid #ff8500;}
.sina_smTit{width:220px;height:35px;line-height:35px;border-bottom:1px solid #dde0e7;padding:0 6px 0 12px;position:relative;}
.sina_smTit a{font-size:16px;color:#000;}
.sina_smTit a:hover{color:#ee7d03;}
.prev{position:absolute;top:9px;right:34px;cursor:pointer;background:url(../images/prev.jpg) no-repeat;width:20px;height:20px;}
.next{position:absolute;top:9px;right:6px;cursor:pointer;background:url(../images/next.jpg) no-repeat;width:20px;height:20px;}
.prev:hover{background:url(../images/prev_h.jpg) no-repeat;}
.next:hover{background:url(../images/next_h.jpg) no-repeat;}

/*标题通用*/
.sina_tit{height:34px;border:1px solid #dcdddf;background:url(../images/tab_bg.jpg) repeat-x;}
.sina_tit_item{font-family:"微软雅黑";font-size:16px;float:left;}
.sina_tit_item li{height:34px;line-height:34px;float:left;padding:0 14px;margin-left:-1px;}
.sina_tit_item li a{color:#000;}
.sina_tit_item .active{background:#fff;height:32px;margin-bottom:-1px;position:relative;border-top:3px solid #ff8500;line-height:28px;border-left:1px solid #dcdddf;border-right:1px solid #dcdddf;padding:0 13px;}
.sina_tit_item .noBor{border-left:none !important;padding-left:13px;}
.sina_tit_font{font-size:12px;line-height:34px;margin-right:10px;}
.sina_tit_font a{color:#e66100;}
.sina_tit_font a:hover{text-decoration:underline;color:#e66100;}
.sina_tit_sm{font-size:12px;line-height:34px;margin-right:6px;}
.sina_tit_sm a{color:#7a7a7a;}
.sina_tit_sm a:hover{text-decoration:underline;color:#e66100;}

/*公用列表*/
.comList{font-size:14px;line-height:26px;}
.comList li{background:url(../images/yello_dot.jpg) left center no-repeat;padding-left:8px;}
.comList li a{color:#172e57;}
.comList li a:hover{color:#676767;text-decoration:underline;}
.comList_s{font-size:12px;line-height:23px;}
.comList_s li{background:url(../images/yello_dot.jpg) left center no-repeat;padding-left:8px;}
.comList_s li a{color:#172e57;}
.comList_s li a:hover{color:#ff8400;text-decoration:underline;}
.video{background:url(../images/vedio.jpg) left center no-repeat;padding-left:21px;}
.video_list_box{height:120px;margin-bottom:20px}
.video_list_box .comList{width:220px;margin-top:-6px;}
.time{line-height:34px;float:right;padding-right:12px;color:#333;font-size:12px;}

/*可点击的图片*/
.video_link{width:126px;height:120px;display:block;position:relative;border:1px solid #ccc}
.video_link img{width:126px;height:120px;display:block;}
.video_link .play{width:35px;height:35px;position:absolute;left:7px;bottom:30px;background:url(../images/play.png) no-repeat;}
.video_link .black_bg{position:absolute;left:0;bottom:0;width:100%;height:24px;background:#000;opacity:0.5;filter:opacity(alpha=50%)}
.video_link .text{width:100%;height:24px;line-height:24px;position:absolute;left:0;bottom:0;color:#FFF;font-size:12px;text-align:center}
.video_link:hover{border:1px solid #e66100}

/*猜你喜欢*/
.effect{display:block;width:52px;height:31px;font-size:12px;font-family:"宋体";padding-top:3px;color:#7a7a7a}
.prev_link,next_link{width:19px;height:19px;background:url(../images/love.jpg) 0 0 no-repeat;margin-top:5px;}
.prev_link{background-position:-1px -2px;margin-left:5px;}
.next_link{background-position:-90px -2px;}
.point{width:6px;height:6px;background:#d3d3d3;overflow:hidden;margin:12px 3px 0 3px}
.point .active{background-color:#ff8400}
.special{width:100%;height:24px;line-height:24px;border-top:1px solid #e9e9e9;}
.special a{font-size:14px;color:#63686e;margin-right:4px;}
.special a:hover{text-decoration:underline;color:#ee7d03;}

/*左侧Tab选项卡*/
.taobao{width:238px;height:214px;border:1px solid #dde0e7;margin-top:15px;}
.taobao_tit{height:37px;background:#f9f9f9;border-bottom:1px solid #dde0e7;}
.taobao_tit li{float:left;width:59px;border-right:1px solid #e5e6ea;line-height:37px;margin-right:-1px;text-align:center;}
.taobao_tit li a{color:#666;font-size:14px;}
.taobao_tit .active{background:#FFF;height:36px;border-top:3px solid #ff8500;line-height:34px;margin-top:-1px;border-left:1px solid #e5e6ea;}
.tab_con_bor{width:232px;height:170px;border:1px solid #dde0e7;margin:2px;}

/*小图片样式修改*/
.img_list_box{height:90px;margin-bottom:8px;}
.img_link{width:104px;height:90px;border:1px solid #FFF;position:relative;}
.img_link img{width:104px;height:70px;display:block;}
.img_link .img_bg{height:20px;width:104px;background-color:#000;position:absolute;left:0;bottom:0;z-index:1}
.img_link .img_text{height:20px;width:97px;line-height:20px;color:#FFF;z-index:2;position:absolute;left:0;bottom:0;padding:0 3px;font-size:12px;text-align:center;}
.img_link:hover{border:1px solid #ff8400;}
.img_link:hover span{color:#ff8400}
.img_list_box .comList{width:240px;margin-top:-6px;}

/*英超视频样式*/
.yc_video{width:238px;height:214px;border:1px solid #dde0e7;margin-top:13px;border-top:3px solid #ff8500;}
.yc_video_tit{height:36px;width:100%;border-bottom:1px solid #dde0e7;}
.yc_video_tit span{font-family:"微软雅黑";font-size:16px;line-height:34px;margin-left:10px;float:left;}
.yc_video_tit a{display:block;width:44px;height:36px;background:#f9f9f9;float:right;line-height:36px;color:#666;font-family:"宋体";border-left:1px solid #dde0e7;padding-left:10px;}
.yc_video_tit a:hover{color:#ff8400;text-decoration:underline;}

/*独家体坛样式*/
.sport{width:238px;height:210px;border:1px solid #dde0e7;border-top:3px solid #ff8500;}
.more{width:42px;height:35px;background:#fafafa;position:absolute;top:0;right:0;padding:0 10px;border-left:1px solid #e5e6ea}
.more a{font-size:12px;color:#666;}
.sport_list{width:222px;height:148px;padding:11px 8px 8px 8px}

/*commond style*/
.commWidth{width:1000px;margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}
.show{display:block}
.mt25{margin-top:25px;}
.mt20{margin-top:20px;}
.mt23{margin-top:23px;}
.mt15{margin-top:15px;_margin-top:18px;}
.mt18{margin-top:18px;}
.mt10{margin-top:10px;}
.pt25{padding-top:25px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.bor_rno{border-right:0 !important;}
.bor_lno{border-left:0 !important;}