@charset "utf-8";
/* 站点说明： 重置各浏览器默认样式
 * 开发时间：2015.5.12 
 * 开发者： wuhj 
 *
 * 样式版本： v1.0 
 * 注意事项： 初始化样式,如果此样式未对网页产生影响尽量不要修改
 */

/*reset css*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,button, input, select, textarea {
	font-size:14px;
	font-family:'Microsoft Yahei', 'Simsun';
}

h1,h2,h3,h4, h5, h6 { 
	font-size: 100%;
	font-weight:normal;
 }

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: none; }

/*abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
/*    border-bottom: 1px dotted;*/
 /*   cursor: help;*/
/*}*/

q:before, q:after { content: ''; }

/* 重置表单元素 */
/*legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
address, cite,  em { font-style: normal; } /* 将斜体扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
	outline:0 none;
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,th {
	text-align:center;
	font-weight:normal;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
img{ vertical-align:top;}
/*清楚浮动*/
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clear{clear:both;}