<div class="page_login">
    <div class="accounctHandle_box" :class="{isFirtLogin : this.$root.isFirstLogin}">
        <div class="center_wrap">


            <div class="left_logo">
                <h1 class="text-hidden">拉卡拉MPOS代理商管理系统账号操作逻辑页面</h1>
                <p>拉卡拉MPOS代理商管理系统</p>
                <p>MPOS AGENT MANAGEMENT</p>
            </div>
            <div class="right_login" v-if="!this.$root.passwordChangeHandleBoxIsShow">
                <el-form :model="login_form" :rules="rules" ref="longin_form" label-width="80px">
                    <el-form-item label="用户名" prop="loginName" required='true'>
                        <el-input v-model="login_form.loginName"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="userPwd" required='true'>
                        <el-input type="password" v-model="login_form.userPwd" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="doLogin('longin_form')" class="loginBtn">登录</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="right_passwordChange" v-if="this.$root.passwordChangeHandleBoxIsShow">
                <el-form :model="passwordChange_form" :rules="rules2" ref="passwordChange_form" label-width="100px">
                    <el-form-item label="用户名">
                        <el-input type="text" :disabled="true" v-model="this.$root.username" auto-complete="off" :required='true'></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="userPwd_new">
                        <el-input type="password" v-model="passwordChange_form.userPwd_new" auto-complete="off"></el-input>
                    </el-form-item>
                    <!-- fix bug -->
                    <el-form-item class="fixBug">
                    </el-form-item>
                    <el-form-item label="确认密码" prop="userPwd_new_check" required="true">
                        <el-input type="password" v-model="passwordChange_form.userPwd_new_check" auto-complete="off"></el-input>
                    </el-form-item>
                    <!-- 绑定手机 -->
                    <el-form-item label="手机号" prop="mobile" required='true' v-if="this.$root.isFirstLogin">
                        <el-tooltip class="item" effect="dark" placement="left-end">
                            <div slot="content">&gt;&gt;&gt;&gt;请输入预留手机号
                                <hr>tips: 1.若预留手机号不存在，请务必输入自用的手机号。<br /> tips: 2.若输入的手机号与预留手机号
                                <u>&nbsp;不一致&nbsp;</u>，验证码会发送到
                                <u>&nbsp;预留手机号&nbsp;</u>。</div>
                            <el-input type="text" v-model="passwordChange_form.mobile" auto-complete="off"></el-input>
                        </el-tooltip>
                    </el-form-item>

                    <el-form-item class='getCode' label="验证码" prop="code" :required='true' v-if="this.$root.isFirstLogin">
                        <el-input type="text" v-model="passwordChange_form.code" auto-complete="off"></el-input>
                        <el-button type="primary" @click="getCode" class="inline-block" :disabled="gettingCode" :class="{ 'waiting-msg' : gettingCode}">获取验证码</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="doAction('passwordChange_form')" class="loginBtn">确认更改</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>