<div class="sys_user">
    <el-row class="search" :gutter="10">
        <el-col :span="4">
            <el-row>
                <el-col :span="8">
                    <span>真实姓名</span>
                </el-col>
                <el-col :span="16">
                    <el-input placeholder="请输入内容" v-model="searchObj.name"></el-input>
                </el-col>
            </el-row>
        </el-col>
        <el-col :span="4">
            <el-row>
                <el-col :span="4">
                    <span>手机</span>
                </el-col>
                <el-col :span="20">
                    <el-input placeholder="请输入内容" v-model="searchObj.mobile"></el-input>
                </el-col>
            </el-row>
        </el-col>
        <el-col :span="3">
            <el-row>
                <el-col :span="6">
                    <span>性别</span>
                </el-col>
                <el-col :span="18">
                    <el-select v-model="searchObj.gender" placeholder="请选择">
                        <el-option v-for="item in gender" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-col>
            </el-row>
        </el-col>
        <el-col :span="3">
            <el-row>
                <el-col :span="6">
                    <span>角色</span>
                </el-col>
                <el-col :span="18">
                    <el-input placeholder="请输入内容" v-model="searchObj.roleName" disabled></el-input>
                </el-col>
            </el-row>
        </el-col>
        <el-col :span="5">
            <div class="block">
                <el-col :span="7">
                    <span>创建时间</span>
                </el-col>
                <el-col :span="17">
                    <el-date-picker v-model="createdTimeRange" type="datetimerange" placeholder="选择日期范围" style="width:100%;"></el-date-picker>
                </el-col>
            </div>
        </el-col>
        <el-col :span="5">
            <el-button-group>
                <el-button type="primary" icon="search" @click="doSearch">搜索</el-button>
                <el-button type="primary" icon="delete" @click="cleanSearchInp">清空</el-button>
            </el-button-group>
        </el-col>
    </el-row>
    <ul class="ctr-bar">
        <li>
            <a href="javascript:;" @click="addUser"><i class="el-icon-plus"></i>&nbsp;&nbsp;<span>添加</span></a>
        </li>
        <li>
            <a href="javascript:;" @click="delSelected"><i class="el-icon-delete"></i>&nbsp;&nbsp;<span>删除</span></a>
        </li>
        <!-- <li>
            <a href="javascript:;"><i class="el-icon-edit"></i>&nbsp;&nbsp;<span @click="refreshData">刷新</span></a>
        </li> -->
    </ul>
    <div class="seach_list">
        <el-table :data="userData" border style="width: 100%" max-height="500" :stripe="true" @selection-change="doChange">
            <el-table-column align="center" type="selection" width="55"></el-table-column>
            <el-table-column align="center" prop="id" label="ID" min-width="60"></el-table-column>
            <el-table-column align="center" prop="employeeId" label="职员ID" min-width="60"></el-table-column>
            <el-table-column align="center" prop="loginName" label="登陆账户" min-width='100'></el-table-column>
            <el-table-column align="center" prop="name" label="真实姓名" min-width="150"></el-table-column>
            <el-table-column align="center" prop="gender" :formatter="genderFilter" label="性别" min-width="150"></el-table-column>
            <el-table-column align="center" prop="mobile" label="手机" min-width="150"></el-table-column>
            <el-table-column align="center" prop="createdTime" label="创建时间" min-width="150"></el-table-column>
            <el-table-column align="center" inline-template :context="_self" fixed="right" label="操作" width="150">
                <span>
                <el-button @click="viewDetail(row)" type="text" size="small">详情</el-button>
                <el-button @click="edit(row)" type="text" size="small">编辑</el-button>
              </span>
            </el-table-column>
        </el-table>
        <div class="pagination">
            <div class="block">
                <el-pagination @current-change="handleCurrentChange" :current-page="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :page-count="pageTotal">
                </el-pagination>
            </div>
        </div>
    </div>
    <div class="rowHandleBox">
        <el-dialog :title="resourceObj.name + '当前信息操作'" v-model="rowHandleBoxIsShow">
            <div class="inner" :class="{view : isView}">
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>职员ID</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.employeeId"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>手机</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.mobile"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>登陆账号</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.loginName"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>固定电话</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.fixedPhone"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>工号</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.userName"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>登陆密码</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.userPwd"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>真实姓名</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.name"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>性别</span>
                            </el-col>
                            <el-col :span="18">
                                <el-select v-if="!isView" v-model="resourceObj.gender" placeholder="请选择">
                                    <el-option v-for="item in gender" :label="item.label" :value="item.value"></el-option>
                                </el-select>
                                <span v-if="isView">&emsp;{{resourceObj.gender | genderFilter}}</span>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>生日</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.birthday"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>QQ</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.qq"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>微信</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.weiXin"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>邮箱</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.email"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <!-- 编辑时地址 -->
                <el-row class="listRow editAddress" v-if="!isView">
                    <el-col :span="12">
                        <el-col :span="6" class="title">
                            <span>地址</span>
                        </el-col>
                        <el-col :span="18" class="data">
                            <span v-if="isView">&emsp;{{resourceObj.addressDetail}}</span>
                            <el-row>
                                <el-col :span="8">
                                    <el-row>
                                        <el-col :span="6" class="text-center">
                                            <span>省</span>
                                        </el-col>
                                        <el-col :span="18">
                                            <el-select v-model="resourceObj.provinceId" @change="rowProvinceChange" placeholder="请选择">
                                                <el-option v-for="item in provinceData" :label="item.provincename" :value="item.provinceid">
                                                </el-option>
                                            </el-select>
                                        </el-col>
                                    </el-row>
                                </el-col>
                                <el-col :span="8">
                                    <el-row>
                                        <el-col :span="6" class="text-center">
                                            <span>市</span>
                                        </el-col>
                                        <el-col :span="18">
                                            <el-select v-model="resourceObj.cityId" @change="rowCityChange" placeholder="请选择">
                                                <el-option v-for="item in cityData" :label="item.cityname" :value="item.cityid">
                                                </el-option>
                                            </el-select>
                                        </el-col>
                                    </el-row>
                                </el-col>
                                <el-col :span="8">
                                    <el-row>
                                        <el-col :span="6" class="text-center">
                                            <span>区</span>
                                        </el-col>
                                        <el-col :span="18">
                                            <el-select v-model="resourceObj.districtId" placeholder="请选择">
                                                <el-option v-for="item in districtData" :label="item.districtname" :value="item.districtid">
                                                </el-option>
                                            </el-select>
                                        </el-col>
                                    </el-row>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>详细地址</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" :disabled="isView" v-model="resourceObj.addressDetail"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <!-- 查看时 地址 -->
                <el-row class="listRow viewAddress" v-if="isView">
                    <el-col :span="3" class="title">
                        <span>完整地址</span>
                    </el-col>
                    <el-col :span="21" class="data">
                        <span class="likeInp">&emsp;{{resourceObj.fullAddress}}</span>
                    </el-col>
                </el-row>
            </div>
            <el-row class='btns' v-if="!isView">
                <el-button-group>
                    <el-button type="primary" @click="rowUpdateSubmit">提交</el-button>
                    <el-button type="primary" @click="rowHandleBoxIsShow=false">取消</el-button>
                </el-button-group>
            </el-row>
        </el-dialog>
    </div>
    <!-- 添加用户 -->
    <div class="addUserHandleBox">
        <el-dialog title="添加用户" v-model="addUserHandleBox">
            <div class="inner">
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>职员ID</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.employeeId"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>手机</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.mobile"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>登陆账号</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.loginName"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>固定电话</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.fixedPhone"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>工号</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.userName"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>登陆密码</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.userPwd"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>真实姓名</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.name"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>性别</span>
                            </el-col>
                            <el-col :span="18">
                                <el-select v-model="addUserObj.gender" placeholder="请选择">
                                    <el-option v-for="item in gender" :label="item.label" :value="item.value"></el-option>
                                </el-select>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>生日</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="格式：1990-01-01" v-model="addUserObj.birthday"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>QQ</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.qq"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-row class="listRow">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>微信</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.weiXin"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>邮箱</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.email"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <!-- 编辑时地址 -->
                <el-row class="listRow editAddress">
                    <el-col :span="12">
                        <el-col :span="6" class="title">
                            <span>地址</span>
                        </el-col>
                        <el-col :span="18" class="data">
                            <el-row>
                                <el-col :span="8">
                                    <el-row>
                                        <el-col :span="6" class="text-center">
                                            <span>省</span>
                                        </el-col>
                                        <el-col :span="18">
                                            <el-select v-model="addUserObj.provinceId" @change="getCityByProvinceid" placeholder="请选择">
                                                <el-option v-for="item in provinceData" :label="item.provincename" :value="item.provinceid">
                                                </el-option>
                                            </el-select>
                                        </el-col>
                                    </el-row>
                                </el-col>
                                <el-col :span="8">
                                    <el-row>
                                        <el-col :span="6" class="text-center">
                                            <span>市</span>
                                        </el-col>
                                        <el-col :span="18">
                                            <el-select v-model="addUserObj.cityId"  @change="getDistrictByCityid"  placeholder="请选择">
                                                <el-option v-for="item in cityData" :label="item.cityname" :value="item.cityid">
                                                </el-option>
                                            </el-select>
                                        </el-col>
                                    </el-row>
                                </el-col>
                                <el-col :span="8">
                                    <el-row>
                                        <el-col :span="6" class="text-center">
                                            <span>区</span>
                                        </el-col>
                                        <el-col :span="18">
                                            <el-select v-model="addUserObj.districtId" placeholder="请选择">
                                                <el-option v-for="item in districtData" :label="item.districtname" :value="item.districtid">
                                                </el-option>
                                            </el-select>
                                        </el-col>
                                    </el-row>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="6" class="title">
                                <span>详细地址</span>
                            </el-col>
                            <el-col :span="18" class="data">
                                <el-input placeholder="请输入内容" v-model="addUserObj.addressDetail"></el-input>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
            </div>
            <el-row class='btns'>
                <el-button-group>
                    <el-button type="primary" @click="addUserSubmit">提交</el-button>
                    <el-button type="primary" @click="addUserHandleBox=false">取消</el-button>
                </el-button-group>
            </el-row>
        </el-dialog>
    </div>
    <!-- <div class="loadingBox" v-loading="loadingBoxIsShow" element-loading-text="数据处理中..."></div> -->
</div>
